<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>new chat</h3>
    <form method="post" action="/chats">
        
        <input type="text" placeholder="who are you?" name="from"><br/><br/>&nbsp; &nbsp;
        <textarea name="msg">write your message here</textarea><br/><br/>&nbsp; &nbsp;
        <input placeholder="at receiver" name="to"><br/><br/>&nbsp; &nbsp;
        <button>create chat</button>
    </form>
</body>
</html>